/* ------------
    common 
-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Noto Serif JP', serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  vertical-align: bottom;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: calc(100% - 16px * 2);
  max-width: 800px;
  overflow: hidden;
  /* outline: 1px solid red; */
}

section:not(.hero) {
  padding: 80px 0;
  /* background-color: #FBF8EF; */
  /* background: linear-gradient(to bottom, #fbf8ef 0%, #ffffff 100%); */
}

.section-title {
  text-align: center;
  margin-bottom: 56px;
}

.ja-title {
  font-family: 'Kaisei Opti', serif;
  letter-spacing: 0.1rem;
}

.en-title {
  font-family: 'Kaisei Opti', serif;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.1rem;
}

.button {
  display: block;
  width: 192px;
  height: fit-content;
  border: 1px solid;
  color: #000;
  font-size: 18px;
  line-height: 42px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
  font-family: 'Kaisei Opti', serif;
  border-radius: 32px;
}

.button .bi-arrow-right {
  font-size: 20px;
  position: absolute;
  top: calc(50% - 20px);
  right: 16px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #fbf8ef;
}

.button:hover .bi-arrow-right {
  right: 12px;
}

/* -----------------------
    header & first view 
-------------------------- */

.fv-area {
  /* background: center/cover
    url(https://user-images.githubusercontent.com/102784267/233598576-7e0246e9-3287-419a-b3aa-f0ad3465ae4d.png); */
    background: center/cover url("../img/hero-bg.jpg");
  height: calc((var(--vh, 1vh) * 100));
  width: 100%;
}

header {
  /* height: 109px; */
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(1, 53, 57, 0.5);
  position: fixed;
  z-index: 100;
}

.site-title {
  width: fit-content;
  margin-left: 24px;
  /* padding: 24px; */
  /* background-color: #fff; */
  /* border-radius: 32px; */
}

#header-nav {
  display: none;
}

/* ハンバーガーメニュー（閉じている時） */
#hamburger {
  cursor: pointer;
  z-index: 30;
  margin-right: 16px;
  position: fixed;
  right: 0;
}

#hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  margin: 0 auto;
  box-shadow: 1px 1px #000;
}

#hamburger span + span {
  margin-top: 7px;
}

#hamburger p {
  font-size: 12px;
  margin-top: 6px;
  color: #fff;
  text-shadow: 1px 1px #000;
}

/* ハンバーガーメニュー（クリック時の動き） */
#hamburger.active span:nth-child(1) {
  transform: translateY(10px) rotate(-135deg);
  background-color: #9f9f9f;
  box-shadow: none;
}

#hamburger.active span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}

#hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(135deg);
  background-color: #9f9f9f;
  box-shadow: none;
}

#hamburger.active p {
  opacity: 0;
}

#navi {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: left;
  transition: all 0.6s ease;
  opacity: 0;
  visibility: hidden;
}

#navi .container {
  margin-top: 124px;
}

#navi.active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu {
  text-align: center;
}

.menu ul {
  text-align: center;
}

.menu li + li {
  margin-top: 16px;
}

.menu li a {
  color: #000;
  width: fit-content;
  position: relative;
}

.menu li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  transform: scale(0);
  opacity: 0;
  transition: all 0.3s;
}

.menu li a:hover::before {
  transform: scale(1);
  opacity: 1;
}

/* ------------
    hero 
-------------- */

.hero {
  height: calc((var(--vh, 1vh) * 100) + 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero-text {
  /* margin-top: 56px; */
}

.hero-text p + p {
  margin-top: 16px;
}

.hero-text-1,
.hero-text-2 {
  font-size: 24px;
  color: #000;
  font-weight: 600;
}

.hero-text-1 {
  transform: translate(-64px, -56px);
  position: relative;
}

.hero-text-1::before,
.hero-text-1::after,
.hero-text-1 span::before,
.hero-text-1 span::after,
.hero-text-2::before,
.hero-text-2::after,
.hero-text-2 span::before,
.hero-text-2 span::after {
  content: '';
  border-radius: 50%;
  background-color: #FBF8EF;
  position: absolute;
  z-index: -1;
}

.hero-text-1::before,
.hero-text-2::before {
  width: 58px;
  height: 58px;
  top: -10px;
  left: -15px;
}

.hero-text-1::after,
.hero-text-2::after {
  width: 50px;
  height: 50px;
  top: -5px;
  left: 20px;
}

.hero-text-1 span::before,
.hero-text-2 span::before {
  width: 55px;
  height: 55px;
  top: -7px;
  left: 55px;
}

.hero-text-1 span::after,
.hero-text-2 span::after {
  width: 58px;
  height: 58px;
  top: -10px;
  left: 95px;
}

.hero-text-2 {
  transform: translate(64px, -40px);
}

.hero-info {
  color: #fff;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.fv-info {
  background-color: rgba(1, 53, 57, 0.5);
  position: absolute;
  bottom: 104px;
  right: 24px;
}

.fv-info p {
  color: #FBF8EF;
}

/* ------------
    products
-------------- */
#products {
  background-color: rgba(251, 248, 239, 0.6);
  padding-bottom: 0;
}

#products .container {
  padding-bottom: 80px;
}

.lg-bg-illust {
  display: none;
}

.products-list {
  width: 100%;
  margin-bottom: 56px;
}

.products-list li + li {
  margin-top: 56px;
}

.product-name {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.product-name::before,
.product-name::after {
  content: '';
  width: 32px;
  height: 32px;
  background-image: url("../img/whisk.png");
}

.product-name::before {
  margin-right: 16px;
}

.product-name::after {
  margin-left: 16px;
  transform: rotate(90deg);
}

.bread-img {
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.bread-circle {
  width: 100%;
  border-radius: 50%;
  background-color: #fff;
  padding: 50% 0;
}

.bread-img img {
  display: block;
  position: absolute;
  top: calc(50% - 78.75px);
  left: calc(50% - 140px);
  filter: drop-shadow(4px 8px 8px rgb(0 0 0 / 0.2));
}

.price {
  font-size: 28px;
  font-weight: bold;
  /* margin-bottom: 24px; */
  position: absolute;
  bottom: 24px;
  left: calc(50% - 50px);

}

.price span {
  font-size: 14px;
  font-weight: normal;
}

.bread-info {
  line-height: 2;
}

.animation-wrapper {
  width: 100%;
  overflow: hidden;
}

.bread-img-animation {
  display: flex;
  animation: moving-images 20s infinite linear;
}

@keyframes moving-images {
  from {
    transform: none;
  }
  to {
    /* transform: translateX(-600px); */
    transform: translateX(-1200px);
  }
}

/* ------------
    concept
-------------- */

#concept {
  background-color: #FDD89D;
  padding-bottom: 0;
}

#concept .container {
  padding-bottom: 80px;
}

.concept-img {
  margin-bottom: 56px;
}

.concept-img img {
  width: 100%;
  border-radius: 32px;
}

.speech-bubble-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  margin-bottom: 32px;
}

.owner-portrait {
  width: 40%;
}

.speech-bubble {
  background-color: #fff;
  border: 1px solid;
  border-radius: 32px;
  padding: 16px;
  position: relative;
  flex: 1;
}

.speech-bubble::before {
  content: '';
  background-color: #000;
  height: 13px;
  width: 13px;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  position: absolute;
  top: calc(50% - 6.5px);
  left: -13px;
}

.concept-text-bold {
  font-size: 18px;
  font-weight: bold;
  /* margin-bottom: 24px; */
  line-height: 2;
}

.concept-text-normal {
  margin-bottom: 32px;
  line-height: 2;
}

/* ------------
    news
-------------- */
#news {
  background: linear-gradient(to bottom, #fbf8ef 0%, #ffffff 100%);
}

.news-list {
  margin-bottom: 56px;
}

.news-list li a {
  color: #000;
  display: block;
  padding: 24px 0;
}

.news-img {
  margin-bottom: 16px;
}

.news-img img {
  width: 100%;
  border-radius: 32px;
}

.update,
.new {
  font-family: 'Kaisei Opti', serif;
}

.new {
  color: #e81470;
  animation: blinking 1s infinite;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.news-list-text p {
  font-size: 16px;
  line-height: 1.6;
}

/* ------------
    information
-------------- */
.map {
  margin-bottom: 56px;
}

.map img {
  width: 100%;
}

#information dt {
  padding-top: 24px;
  border-top: 1px solid;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

#information dd {
  padding-bottom: 24px;
  font-size: 16px;
}

#information dd:last-child {
  border-bottom: 1px solid;
}

.google-map {
  margin-top: 24px;
}

/* ------------
    footer
-------------- */

footer {
  padding-top: 56px;
  padding-bottom: 24px;
  background-color: #fbf8ef;
}

.footer-title {
  width: fit-content;
  margin: 0 auto;
}

.footer-nav {
  margin-top: 32px;
}

.footer-icons {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

.footer-icons li + li {
  margin-left: 32px;
}

.footer-icons i {
  font-size: 32px;
  color: #000;
  transition: color 0.3s;
}

.footer-icons i:hover {
  color: #9f9f9f;
}

small {
  display: block;
  text-align: center;
  margin-top: 32px;
  font-size: 12px;
}

/* ------------
    レスポンシブ　medium screen(600)
-------------- */

@media (min-width: 600px) {

  /* header */
  header {
    height: 100px;
  }

  #header-nav {
    display: block;
    margin-right: 56px;
  }

  .header-menu {
    display: flex;
  }

  .header-menu li + li {
    margin-left: 24px;
  }

  .header-menu li a {
    color: #FBF8EF;
    display: block;
    border: 1px solid #FBF8EF;
    border-radius: 16px;
    width: 84px;
    height: 49px;
    text-align: center;
    transition: background-color .3s;
  }

  .header-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .header-menu p {
    font-size: 16px;
  }

  .header-nav-text {
    line-height: 49px;
    transform: translateY(-2px);
  }

  #hamburger {
    display: none;
  }

  .hero {
    height: calc((var(--vh, 1vh) * 100) + 100px);
  }

  /* fv */

  fv-info {
    bottom: 144px;
  }

  .fv-info p {
    font-size: 16px;
  }

  /* products */
  .product-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }

 .products-list li:nth-child(even) .product-wrapper {
   flex-direction: row-reverse;
 }

  .bread-img,
  .bread-info {
    width: cacl((100% - 40px) / 2);
  }

  .bread-img img {
    width: 200px;
    top: calc(50% - 56.25px);
    left: calc(50% - 100px);
  }

}

/* ------------
    レスポンシブ　medium screen(800)
-------------- */
@media (min-width: 800px) {

  /* product */
  .bread-img img {
    width: 280px;
    top: calc(50% - 78.75px);
    left: calc(50% - 140px);
  }

  /* concept */
  .owner-portrait {
    width: 30%;
  }
}

/* ------------
    レスポンシブ　large screen(1000)
-------------- */
@media (min-width: 1000px) {

  /* common */
  section:not(.hero) {
    padding: 104px 0;
  }

  /* products */
.lg-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.lg-bg-illust {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: -1;
}

.lg-bg-illust:nth-child(1) {
  top: 10%;
  left: 24px;
}
.lg-bg-illust:nth-child(2) {
  top: 35%;
  right: 24px;
}
.lg-bg-illust:nth-child(3) {
  bottom: 35%;
  left: 24px;
}
.lg-bg-illust:nth-child(4) {
  bottom: 10%;
  right: 24px;
}

/* concept */
#concept {
  background-color: rgba(251, 248, 239, 0.6);
  margin-bottom: 104px;
}

#concept .container {
  background-color: #FDD89D;
  border-radius: 64px;
  padding: 104px 32px;
}

#concept .lg-wrapper {
  padding-bottom: 104px;
}

.owner-portrait {
  width: 20%;
}

.concept-text-bold {
  font-size: 20px;
}

.concept-text-normal {
  font-size: 16px;
}


}